@using Microsoft.EntityFrameworkCore.Query
@model Budgets.Models.ViewModels.BudgetViewModel

<div class="row">
    <div class="col">
        <h2 class="">Create A New Budget</h2>
    </div>
</div>
<div class="row m-auto">
    <form id="createBudgetForm" method="post" class="w-100">
        @* Budget Inputs *@
        <div class="row m-auto">
            <div class="form-group col-6">
                @Html.ValidationMessageFor(m => m.BudgetTitle);
                <span asp-validation-for="BudgetTitle"></span>
                <label asp-for="BudgetTitle"></label>
                <input asp-for="BudgetTitle" class="form-control"/>
            </div>

            <div class="form-group col-6">
                <span asp-validation-for="BudgetTotal"></span>
                <label asp-for="BudgetTotal"></label>
                <input asp-for="BudgetTotal" class="form-control"/>
            </div>
        </div>

        @* Row Inputs *@
        <div id="categorySection" class="row m-auto">
            <div class="form-group col-3">
                <span asp-validation-for="Categories[0].CategoryTitle"></span>
                <label asp-for="Categories[0].CategoryTitle"></label>
                <input asp-for="Categories[0].CategoryTitle" class="form-control"/>
            </div>
            <div class="form-group col-3">
                <span asp-validation-for="Categories[0].CategoryTotal"></span>
                <label asp-for="Categories[0].CategoryTotal"></label>
                <input asp-for="Categories[0].CategoryTotal" class="form-control"/>
            </div>
            <div class="form-group col-3">
                <span asp-validation-for="Categories[0].CategoryType"></span>
                <label asp-for="Categories[0].CategoryType"></label>
                <select asp-for="Categories[0].CategoryType" class="form-control">
                    <option value="1">1</option>
                </select>
            </div>
            <div class="form-group col-3 mt-auto text-center">
                <button type="button" class="btn btn-danger deleteCategory mx-auto">Delete Category</button>
            </div>
        </div>

        <div class="row m-auto">
            <div class="col">
                <buttton id="addCategory" type="button" class="btn btn-default">Add Category</buttton>
            </div>
        </div>

        @* Submit Form *@
        <div class="row">
            <div class="col offset-9">
                <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
                <button id="createBudget" type="button" class="btn btn-primary">Create Budget</button>
            </div>
        </div>
    </form>
</div>

<script>
 $(function() {
  RegisterEvents();
 });
 
 function RegisterEvents() {
  $('#createBudget').click(CreateBudget);
 }
 
 function CreateBudget() {
  let $form = $('#createBudgetForm')[0];
  $.validator.unobtrusive.parse($form);
  $form.submit(function() {
   if ($form.valid()) {
    $.ajax({
     url: "UpdateBudget",
     type: "POST",
     data: $($form).serialize(),
     success: function () {
      console.log("success");
     }
    })
   }
  })
 }
</script>
@* <script src="js/create-budget.js"></script> *@