# Default ignored files
/.idea.BaryonyxBudgeting/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.BaryonyxBudgeting/.idea/dataSources/
/.idea.BaryonyxBudgeting/.idea/dataSources.local.xml
